body {
    background-color: #e5e5e5;
    color: #757575;
    font-family: 'Bad Script', cursive;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    position: fixed;
    /* width: 1800px; */
    max-width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

	margin: auto;
	border-radius: 6px;
    
	background-color: #e1e6ec;
	box-shadow: 0 0 20px -5px rgba(0, 0, 0, .25);
}

.sidebar {
    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 60px; 
    width: 100%; 
	padding: 10px;

    /* background-color: #7e8a98;  */
    overflow: hidden; 
}

.sidebar h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    color: #e22e49;
    font-family: 'Bad Script', cursive;


	text-transform: uppercase;
}

.ui {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    height:45px;
    width:45px;
    border-radius: 50%;
    border: 50px;
    margin: 14px;
    color: #e22e49;
    background-color:#E0E5EC;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: row;
}

.input-left,
.input-right {
    display: block;
    width: 45%;
    height: 80px;

    padding: 8px 22px;
    background-image: none;
    background-color: #fff;
    font-family: 'Handlee', cursive;

    font-size: 35px;
    box-shadow: none;
    outline: none;
    transition: border .25s;
    
}

.buttonForm{
    font-size: 30px;
    height: 70px;
    width: 70px;
    border-radius: 20%;
    border: 50px;
    margin: 14px;
    color: #e22e49;
    background-color:#E0E5EC;
    box-shadow: 9px 9px 16px rgb(163,177,198,0.6), -9px -9px 16px    rgba(255,255,255, 0.5);
    
	text-transform: uppercase;
    transition: transform .2s; 
    outline: none;
}

.buttonForm:hover {
    background-color: rgba(158,158,158,.2);
    cursor: pointer;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* space-between */
    margin-top: 50px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 25px;

}

.newspaper {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;

    background-image: url('../img/crumpled-paper-texture-png.png');
    /* font-style: italic; */
    background-size: 100% auto;
    background-repeat: repeat-y;

    height: 240px;
	width: 200px;
    margin: 0 auto;
    
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.text {
    display: block; 
    /* display: none; */
    text-align: center; 
    font-size: 36px; 
    /* font-style: italic; */
    font-family: 'Indie Flower', cursive;
    text-transform: uppercase;
}


.translate {
    display: none; 
    /* display: block;  */
    text-align: center; 
    font-size: 36px; 
    font-family: 'Indie Flower', cursive;
    text-transform: uppercase;
}

.rightNo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
 
}


.plus,
.minus {
    font-size: 30px;
    
    margin: 8px;
    color: #e22e49;
    
    outline: 0 !important;
    border: none; 
    background: transparent;
    cursor: pointer;
}

